<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<% include ./partials/_header %>
<body>

    <h3>Welcome to the Index Page of Tiny App</h3>

    <table border="2" width="2">
      <% for(var key in urlDatabase) { %>
        <li>
            <%= key %> : <%= urlDatabase[key] %>
            <form method="POST" action="/urls/<%= key%>/delete">
              <a href="/urls/<%= key %>">Edit</a>
              <button> Delete </button>
            </form>
          </li>
          <% } %>
</body>

</html>